/*LTSEC Website*/

@import url('https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&family=Lato:wght@900&display=swap");

/*------------------------BOOTSTRAP JUMBOTRON STYLING-------------------*/

/*Edited jumbotron image and set the bottom margin to 2px*/
.jumbotron {
  background-color: rgba(0, 0, 0, 0);
  background-repeat: repeat;
  background-size: auto;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.shade {
  width: 110%;
  height: 115%;
  background: rgba(100,100,100,0.25);
  position: absolute;
  top: 0;
  left: 0;
}

.jumbotron .container {
  position: sticky;
  top: 80%;
  font-family: 'IBM Plex Sans', sans-serif;
}

.container h3 {
  margin-top: 10px;
}

.container h1, .container h4 {
  color: #a5b0c1;
  font-family: 'IBM Plex Sans', sans-serif;
}

.jumbotron h1 {
  color: white;
  font-size: calc(40pt + .75vw);  
  font-weight: bold;
  font-family: 'Lato Black', 'IBM Plex Sans', sans-serif;
  text-shadow: 0px 0px 10px #191c1d;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.jumbotron p {
  font-size: calc(14pt + .5vw);
  color: white;
}

.ltsec-logo {
  object-fit: contain;
  max-width: 65%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

#header-tagline-desktop {
  padding-top: 5%;
  object-fit: contain;
  max-width: 100%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

#header-tagline-mobile {
  display: none;
}

@media (max-width: 992px) {
  .ltsec-logo {
    display: flex;
    max-width: 90%;
    margin-top: 5%;
    margin-bottom: -2%;
  }
  #header-tagline-desktop {
    display: none;
  }
  #header-tagline-mobile {
    display: flex;
    font-size: calc(30pt + .75vw);
    padding-top: 2%;
    padding-left: 2%;
  }
}

/*------------------------END OF JUMBOTRON-------------------*/


/*------------------------BOOTSTRAP PARALLAX STYLING-------------------*/

/*parallax and parallax-2 (for some reason, parallax-1 wouldn't work), are scrolling
  images with a cool animation, I think it makes websites stand out as more professional
  but is totally subject to change*/
.parallax {
    /* The image used */
    /* background-image: url('../../img/cyberstorm/5.jpg');

    /* Set a specific height */
    min-height: 100px; 

    /* Create the parallax scrolling effect */
    /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  */
}

.parallax_1 {
    /* The image used */
    background-image: url('../../img/cyberstorm/5.jpg');

    /* Set a specific height */
    min-height: 3px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-2 {
    /* The image used */
    background-image: url('../../img/cyberstorm/2.jpg');

    /* Set a specific height */
    min-height: 300px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-3 {
    /* The image used */
    background-image: url('../../img/cyberstorm/6.jpg');

    /* Set a specific height */
    min-height: 300px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-4 {
    /* The image used */
    background-image: url('../../img/more cyberstorm/Pine.jpg');

    /* Set a specific height */
    min-height: 300px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*------------------------END OF PARALLAX IMAGES-------------------*/


/*--------------------------- navbar styling ----------------------*/
.nav {
  position: fixed;
  background-color: #00000060;
  /*border-bottom: 1px solid #1b212c;*/
  width: 100%;
  height: calc(35px + .4vw);
  top: 0;
  opacity: 1.0;
  z-index: 10000000;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.10);
}

.left {
	float: right !important;
}

.nav a {
  float: left;
  color: #c4c4c4;
  font-size: calc(12px + .25vw);
  font-weight: bolder;
  padding: 8px 10px;
  text-transform: uppercase;
  font-family: 'Lato Black', 'IBM Plex Sans', sans-serif;
}

.nav a:hover {
    background: #30303075;
}

.nav li {
  display: inline;
}

.nav .icon {
  height: 15px;
  width: 15px;
  display: none;
}

#selected-page {
  color:#c0e6ff;
  text-decoration: underline;  
}

#ctf-button {
  background-color: rgba(100,20,23,100);
}

#ctf-button:hover {
  background-color: rgba(125,20,23,75);
}

.active {
  background-color: #d1d1d1;
  color: white;
}

@media (max-width: 992px) {
  .nav a {
    font-size: calc(12px + .25vw);
  }
}

/*@media screen and (max-width: 600px) {
  .nav a:not(:first-child) {display: none;}
  .nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .nav.responsive {position: relative;}
  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .left {
  	float: left !important;
  	display: block;
  }
*/
/*------------------------ End of navbar styling -------------------*/

/*------------------------GENERAL ELEMENT STYLING-------------------*/

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

p {
  overflow-wrap: break-word;
}

body {
  /* background-color: #000000; */
  /* background-image:url('../../img/gamerwallpaper.jpg');
  background-repeat: repeat; */
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23ffffff' fill-opacity='0.15' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
  font-family: 'IBM Plex Sans', sans-serif;
}

.information-panel {
    /*background-color: #191e27;*/
    border-bottom: 2px solid #000000;
    color: #000000;
}

.information-panel h3 {
  color: #ffffff;
  font-size: calc(22pt + 1vw);
}

.information-panel h4 {
    color: #ffffff;
    font-size: calc(16pt + .6vw);
}

.information-panel p {
    color: #ffffff;
    font-size: calc(12pt + .5vw);
    margin-bottom: 13px;
}

.container p, .container h3 {
  color: #ffffff;
}

.learn-more {
  /*background-color: #14181f;*/
  color: rgb(210, 208, 208);
  padding-top: 1%;
}

.learn-more h3 {
  font-family: 'Lato Black', 'IBM Plex Sans', sans-serif;
  font-size: calc(25pt + .15vw);
  font-weight: bold;
}

.learn-more p {
	font-size: calc(14pt + .5vw)
}

.learn-more a {
  color: #141f24;
}

.image img {
  max-width: 100px;
  max-height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  /*height: 100%;*/
}

.comp-logo {
  max-width: 90%;
  margin: auto;
  display: block;
}

#ncae-logo {
  background-color: #a0c1ff;
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#join-us {
  max-width: 45%;
  display: block;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 992px) {
  .learn-more {
    padding-top: 3.5%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
  }
  #ncae-logo {
    margin-top: 0px;
    margin: auto;
    display: block;
  }
  .comp-logo {
    margin: auto;
    display: block;
  }
  #join-us {
    margin-top: 8%;
    max-width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #join-us-container {
    padding-right: 4%;
  }
}

/*Minor stylings for the thumbnails so they don't take up the whole screen, 
  and actually match the background*/
.thumbnail {
  /*background: #efefef;*/
  width: 100%;
  height: 100%;
}

.thumbnail img {
  max-width: 150px;
  max-height: 150px;
}

.row {
  padding-top: 5px;
  padding-bottom: 5px;
}

h1 {
  padding-top: 10px;
}

.footerText {
  background-image: linear-gradient(rgba(255,0,0,0), rgb(0, 0, 0));
}

.footerText p {
  font-size: calc(15px + .25vw);
  color: #191c1d;
  text-align: center;
}

.footerContainer {
  padding-right: calc(5px + .75vw);
  padding-left: calc(5px + .75vw);
  font-family: 'Lato Black', 'IBM Plex Sans', sans-serif;
  font-weight: 100;
}

.footerContainer p {
  color: #ffffff;
  font-size: calc(10 + .05vw)
}

.footerContainer a {
  color: #ffffff;
}

#footerLogo {
  height: 80px;
  margin-top: 5%;
  margin-bottom: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footerButton {
  font-family: 'Lato Black', sans-serif;
  padding: 15px 32px 15px 32px;
  border: 2px;
  border-color: white;
  margin: 10px;
  background-color: white;
  color: black;
  border-radius: 0px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.footerButton:hover {
  background-color: rgb(225, 225, 225);
  border-color: rgb(225, 225, 225);
}

#footerButtonText {
  margin-bottom: 0px;
  font-size: calc(25 + .05vw);
  color: black;
}

.fa {
  color: #a5b0c1;
  text-align: center;
  padding-right: 5px;
  padding-left: 5px;
}

.fa i {
  text-align: center;
}

.centered {
  text-align: center;
}

@media (max-width: 600px) {
  .footerButton {
    width: 100%;
  }
}

@media (max-width: 350px) {
  .pull-right {
    margin-top: -10px;
  }
}

/*------------------------END OF ELEMENT STYLING-------------------*/
